.border-1 {
    border: 1px solid var(--vp-c-border);
    border-radius: 8px;
    padding: 20px;
}

/* 调整首页间距 */
.VPContent .VPHome .VPHero .container .main .text {
    margin-top: 10px;
}

/* 将 H1 居中 */
.vp-doc h1 {
    text-align: center;
}

/* 文档内所有图片居中 */
.vp-doc p img{
    margin: 0 auto;
}

/* 文档内所有表格为 100% 宽度 */
.vp-doc table{
    display: table;
    min-width: 100%;
}


/* font */

@font-face {
    font-family: 'AliPuHui';
    src: url('./font/zh/AlibabaPuHui-Bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'AliPuHui';
    src: url('./font/zh/AlibabaPuHui-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'AliPuHui';
    src: url('./font/zh/AlibabaPuHui-Light.woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('./font/en/JetBrainsMono.woff2');
}

:root {
    --vp-font-family-base: 'AliPuHui';
    --vp-font-family-mono: 'JetBrainsMono'
}